<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>*core dump</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="app">
        <header>
            <h1>*core dump</h1>
            <div class="progress-bar" :style="{ width: progressBarWidth }"></div>
        </header>
        <main>
            <div class="banks-selector">
                <ul>
                    <li v-for="(bank, index) in banks" :key="index" @click="selectBank(index)"
                        :class="{ 'selected': index === selectedBank }">
                        Bank {{ index + 1 }}
                    </li>
                </ul>
            </div>

            <div class="content-area">
                <div class="file-uploader">
                    <h2>Upload Files</h2>
                    <div class="drop-area" @drop="handleDrop" @dragover.prevent>
                        Drop your files here
                    </div>
                </div>

                <div class="file-list">
                    <h2>Files in Bank {{ selectedBank + 1 }}</h2>
                    <ul>
                        <li v-for="(file, fileIndex) in banks[selectedBank].files" :key="fileIndex"
                            @click="showFileDetails(fileIndex)" :class="{ 'selected': fileIndex === selectedFile }"
                            :data-file-number="fileIndex + 1">
                            {{ file.Filename }}
                        </li>
                    </ul>
                </div>

                <div class="file-details" v-if="selectedFile!=null">
                    <h2>File Details</h2>
                    <p><strong>Name:</strong> {{ banks[selectedBank].files[selectedFile].Filename }}</p>
                    <p><strong>Duration:</strong> {{ banks[selectedBank].files[selectedFile].Duration }} seconds</p>
                    <button @click="removeSelectedFile">Remove File</button>
                    <button @click="moveFileUp" :disabled="selectedFile === 0">Move Up</button>
                    <button @click="moveFileDown" :disabled="selectedFile === banks[selectedBank].files.length - 1">Move
                        Down</button>
                    <p>
                        <label>
                            <input type="radio" v-model="banks[selectedBank].files[selectedFile].oneshot" value=0>
                            Continuous
                        </label>
                        <label>
                            <input type="radio" v-model="banks[selectedBank].files[selectedFile].oneshot" value=1>
                            One shot
                        </label>
                    </p>
                    <div id="waveform-parent">
                        <div id="waveform"></div>
                        <p>
                            <button @click="deleteRegion">Delete region</button>
                            <label style="margin-left: 2em">
                                Zoom: <input type="range" min="10" max="1000" value="10" />
                            </label>
                        </p>
                    </div>
                </div>


            </div>
        </main>
        <footer>
            <p>© 2023 File Manager</p>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script type="module">
        import { WaveSurferG, RegionsPluginG } from "/waves.js";
        window.WaveSurf = WaveSurferG;
        window.RegionsPlugin = RegionsPluginG;
    </script>
    <script>
        var wsf = null;
        var totalBytesUploaded = 0;
        var totalBytesRequested = 0;
        var activeRegion = null;
        var app;
        var socket;
        var randomID = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);

        const socketMessageListener = (e) => {
            console.log(e.data);
            data = JSON.parse(e.data);
            if (data.action == "processed") {
                console.log("processed");
                console.log(data);
                // append data.file to bank
                app.banks[app.selectedBank].files.push(data.file);


            } else if (data.action == "progress") {
                totalBytesUploaded += data.number;
                app.progressBarWidth = `${Math.floor(totalBytesUploaded / totalBytesRequested * 104)}%`;
            } else {
                console.log(data);
            }
        };
        const socketOpenListener = (e) => {
            console.log('Connected');
            socket.send(JSON.stringify({ message: "hello, server" }))
        };
        const socketErrorListener = (e) => {
            console.error(e);
        }
        const socketCloseListener = (e) => {
            if (socket) {
                console.log('Disconnected.');
            }
            var url = window.origin.replace("http", "ws") + '/ws?id=' + randomID;
            socket = new WebSocket(url);
            socket.onopen = socketOpenListener;
            socket.onmessage = socketMessageListener;
            socket.onclose = socketCloseListener;
            socket.onerror = socketErrorListener;
        };
        window.addEventListener('load', (event) => {
            socketCloseListener();
        });

        app = new Vue({
            el: '#app',
            data: {
                banks: Array.from({ length: 16 }, () => ({ files: [] })),
                selectedBank: 0,
                selectedFile: null,
                progressBarWidth: '0%',
            },
            methods: {
                selectBank(index) {
                    this.selectedBank = index;
                    this.selectedFile = null; // Clear selected file when changing banks
                },
                openFileInput() {
                    // Trigger file input click when the drop area is clicked
                    document.getElementById('fileInput').click();
                },
                deleteRegion() {
                    if (activeRegion != null) {
                        activeRegion.remove();
                        activeRegion = null;
                    }
                },
                handleDrop(event) {
                    event.preventDefault();
                    const files = event.target.files || event.dataTransfer.files;
                    this.progressBarWidth = '0%';
                    totalBytesUploaded = 0;
                    totalBytesRequested = 0;
                    for (var i = 0; i < files.length; i++) {
                        files[i].oneshot = "0";
                        totalBytesRequested += files[i].size;
                    }

                    const formData = new FormData();
                    for (const file of files) {
                        formData.append('files', file);
                    }
                    // Use fetch to send a POST request to the server
                    fetch('/upload?id=' + randomID, {
                        method: 'POST',
                        body: formData,
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data.message);
                            // Optionally, you can handle the server response
                        })
                        .catch(error => {
                            console.error('Error uploading files:', error);
                        });
                },
                showFileDetails(fileIndex) {
                    this.selectedFile = fileIndex;
                    // wait 100 milliseconds
                    setTimeout(() => {
                        showWaveform(this.banks[this.selectedBank].files[this.selectedFile].PathToFile + ".mp3",
                            this.banks[this.selectedBank].files[this.selectedFile].Duration,
                            this.banks[this.selectedBank].files[this.selectedFile].SliceStart,
                            this.banks[this.selectedBank].files[this.selectedFile].SliceStop);
                    }, 100);
                },
                removeSelectedFile() {
                    if (this.selectedFile !== null) {
                        this.banks[this.selectedBank].files.splice(this.selectedFile, 1);
                        this.selectedFile = null;
                    }
                },
                moveFileUp() {
                    if (this.selectedFile > 0) {
                        this.swapFiles(this.selectedFile, this.selectedFile - 1);
                        this.selectedFile--;
                    }
                },
                moveFileDown() {
                    if (this.selectedFile < this.banks[this.selectedBank].files.length - 1) {
                        this.swapFiles(this.selectedFile, this.selectedFile + 1);
                        this.selectedFile++;
                    }
                },
                swapFiles(index1, index2) {
                    const temp = this.banks[this.selectedBank].files[index1];
                    this.banks[this.selectedBank].files[index1] = this.banks[this.selectedBank].files[index2];
                    this.banks[this.selectedBank].files[index2] = temp;
                },
            },
        });


        function showWaveform(filename, duration, sliceStart, sliceEnd) {
            if (wsf != null) {
                wsf.destroy();
            }
            var banksSelectWidth = document.getElementsByClassName('banks-selector')[0].clientWidth;
            var newWidth = `width:${document.getElementById('waveform-parent').parentElement.clientWidth - 50}px`;
            document.getElementById('waveform-parent').style = newWidth;
            wsf = window.WaveSurf.create({
                container: '#waveform',
                waveColor: '#888',
                progressColor: '#888',
                hideScrollbar: false,
                autoScroll: false,
                autoCenter: true,
                url: filename,
            });
            // resize whenever a zoom
            wsf.on('zoom', () => {
                console.log('zoom');
            });
            // set the width of a WaveSurfer to 100 px


            const wsRegions = wsf.registerPlugin(window.RegionsPlugin.create())

            wsf.on('decode', () => {
                // Regions
                for (var i = 0; i < sliceStart.length; i++) {
                    wsRegions.addRegion({
                        start: sliceStart[i] * wsf.getDuration(),
                        end: sliceEnd[i] * wsf.getDuration(),
                        color: `rgba(240,240,240,0.5)`,
                        drag: true,
                        resize: true,
                        loop: false,
                    });
                }
                // for (var i = 0; i < 32; i++) {
                //     i = 29;
                //     wsRegions.addRegion({
                //         start: 0.1765 * i,
                //         end: 0.1765 * (i + 1),
                //         color: `rgba(240,240,240,0.5)`,
                //         drag: true,
                //         resize: true,
                //         loop: false,
                //     });
                //     break;
                // }
            });

            wsRegions.enableDragSelection({
                color: 'rgba(240,240,240,0.5)',
            })

            wsRegions.on(
                'region-updated', (region) => { 
                    console.log('Updated region', region);
                    let regions = wsf.plugins[0].regions;
                    regions.sort((a, b) => (a.start > b.start) ? 1 : -1);
                    let sliceStart = [];
                    let sliceStop = [];
                    for (var i=0;i<regions.length;i++) {
                        sliceStart.push(regions[i].start/wsf.getDuration());
                        sliceStop.push(regions[i].end/wsf.getDuration());                        
                    }
                    socket.send(JSON.stringify({ 
                        action: "updateSlices",
                        filename: filename,
                        slicestart: sliceStart,
                        sliceStop: sliceStop,
                    }));

            });


            {
                var playing = false;
                wsRegions.on('region-in', (region) => {
                    console.log('in', region.id);
                })
                wsRegions.on('region-out', (region) => {
                    console.log('out', region.id);
                    if (activeRegion.id === region.id) {
                        wsf.pause();
                        playing = false;
                    }
                })
                wsRegions.on('region-clicked', (region, e) => {
                    e.stopPropagation() // prevent triggering a click on the waveform
                    activeRegion = region;
                    console.log(region);
                    if (playing) {
                        console.log('pausing');
                        wsf.pause();
                        playing = false;
                    } else {
                        region.play();
                        playing = true;
                        setTimeout(() => {
                            wsf.pause();
                            playing = false;
                        }, (region.end - region.start) * 960);
                    }
                    // region.setOptions({ color: randomColor() })
                })
                // Reset the active region when the user clicks anywhere in the waveform
                wsf.on('interaction', () => { activeRegion = null })
            }

            // Update the zoom level on slider change
            wsf.once('decode', () => {
                document.querySelector('input[type="range"]').oninput = (e) => {
                    const minPxPerSec = Number(e.target.value)
                    wsf.zoom(minPxPerSec)
                };
            });
        }
    </script>
</body>

</html>