
CompileFlags:
  Add: [
    "-DUSE_AUDIO_I2S=1",
    "-DSDCARD_USE_CD=false",
    "-DSDCARD_CD_GPIO=21",
    "-DPICO_XOSC_STARTUP_DELAY_MULTIPLIER=4",
    "-DSAMPLES_PER_BUFFER=441",
    "-DSDCARD_CMD_GPIO=25",
    "-DSDCARD_D0_GPIO=26",
    "-DAUDIO_CLK_GPIO=21",
    "-DAUDIO_DIN_GPIO=23",
    "-DINCLUDE_ECTOCORE=1",
    "-DINCLUDE_FILTER=1",
    "-DINCLUDE_RGBLED=1",
    "-DCORE1_PROCESS_I2S_CALLBACK=1",
    "-DDO_OVERCLOCK=1",
    "-DMCP_KNOB_AMEN=0",
    "-DMCP_ATTEN_AMEN=1",
    "-DMCP_CV_AMEN=2",
    "-DMCP_KNOB_BREAK=3",
    "-DMCP_ATTEN_BREAK=4",
    "-DMCP_CV_BREAK=5",
    "-DMCP_KNOB_SAMPLE=6",
    "-DMCP_CV_SAMPLE=7",
    "-DGPIO_BTN_MODE=0",
    "-DGPIO_BTN_MULT=1",
    "-DGPIO_BTN_BANK=20",
    "-DGPIO_BTN_TAPTEMPO=2",
    "-DGPIO_LED_TAPTEMPO=3",
    "-DGPIO_INPUTDETECT=16",
    "-DGPIO_CLOCK_IN=14",
    "-DGPIO_MIDI_IN=15",
    "-DGPIO_CLOCK_OUT=19",
    "-DGPIO_TRIG_OUT=18",
    "-DGPIO_MODE_1=6",
    "-DGPIO_MODE_2=12",
    "-DGPIO_MODE_3=17",
    "-DGPIO_MODE_4=13",
    "-DGPIO_WS2812=7",
    "-DMCP23017_ADDR1=0x20",
    "-DMCP23017_ADDR2=0x21",
    "-DADS7830_ADDR=0x48",
    "-DUSBD_PID=0x1837",
    "-DSKIP_SDIO_CHECKSUMS=1",
    "-DECTOCORE_VERSION_4=1",
    "-target", "arm-none-eabi"
  ]
