# Prerequisites
*.d
pico-extras*
biquad.h
main
build*
.vscode*
1.raw
amen_bpm165_beats8.wav
amen_bpm170_beats16.wav
lib/selectx.h
lib/transfer_doublesine.h
lib/transfer_tanh.h
amen_bpm165_beats8_mono.wav
amen_bpm165_beats8_stereo.wav
amen_bpm170_beats16_mono.wav
amen_bpm170_beats16_stereo.wav
lib/transfer_distortion.h
lib/transfer_saturate.h
crossfade.h
bass.raw 
bass.wav 
lib/crossfade2.h
convert
lib/bass_raw.h
dev/zeptoconverter/1.wav
dev/zeptoconverter/2/*
dev/zeptoconverter/banks2/*
dev/zeptoconverter/index.html
dev/zeptoconverter/zeptocore/*
dev/zeptoconverter/2.wav
dev/zeptoconverter/3/*
dev/zeptoconverter/zepoconverter
dev/zeptoconverter/banks/
dev/zeptoconverter/banks_processed/
cmd/zeptoconverter/1.wav
cmd/zeptoconverter/1/
cmd/zeptoconverter/*.wav
cmd/zeptoconverter/*flac
cmd/zeptoconverter/banks/
cmd/zeptoconverter/test/
cmd/zeptoconverter/test2/
cmd/zeptoconverter/zeptoconverter
cmd/zeptoconverter/zeptocore/
cmd/zeptoconverter/zz/
lib/op1/lofi.wav
lib/sox/.gitignore
lib/sox/LICENSE
lib/sox/README*
*.wav
*.flac
gui*
*.png

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
lib/test/filestruct/test
lib/test/filter/amen_0efedaab_beats8_bpm165.mono.wav
lib/test/filter/out.wav
lib/test/filter/resonant.cpp
dev/zeptoconverter/1/
dev/zeptoconverter/zz/
lib/out
lib/out.c
lib/test/xfade/
dev/splicer/amen.wav
dev/splicer/amen_5c2d11c8_beats16_bpm170.flac
dev/splicer/index2.html
dev/renoise/Instrument.xml
dev/renoise/*.wav
dev/renoise/*.flac
dev/renoise/*.xrni
lib/op1/*.aif
lib/renoise/*.xml
lib/renoise/*.xrni
lib/renoise/*.flac
numbers
file.txt
cmd/zeptoconverter/test3/
cmd/zeptoconverter/out/
cmd/zeptoserver/zeptoserver
cmd/zeptoserver/uploads/
cmd/zeptoserver/src/zeptocore/lofi.aif.json
cmd/zeptoserver/src/renoise/Instrument.xml
cmd/zeptoserver/src/zeptocore/lofi.0.wav.info
cmd/zeptoserver/src/zeptocore/lofi.1.wav.info
cmd/zeptoserver/storage/
cmd/zeptocore/storage/
cmd/zeptocore/zeptocore
"cmd/zeptocore/Sample00 (Amen Brother (Version 1) 1).0.wav.info"
"cmd/zeptocore/Sample00 (Amen Brother (Version 1) 1).1.wav.info"
"cmd/zeptocore/Sample00 (Amen Brother (Version 1) 1).flac.json"
"cmd/zeptocore/Sample00 (Amen Brother (Version 1) 1).flac.mp3"
cmd/zeptocore/src/zeptocore/amen.0.wav.info
cmd/zeptocore/src/zeptocore/amen.1.wav.info
cmd/zeptocore/src/zeptocore/amen.xrni
cmd/zeptocore/src/zeptocore/amen.xrni.json
cmd/zeptocore/src/zeptocore/amen.xrni.mp3
cmd/zeptocore/src/zeptocore/lofi.0.wav.info
cmd/zeptocore/src/zeptocore/lofi.1.wav.info
cmd/zeptocore/src/zeptocore/lofi.aif.mp3
"cmd/zeptocore/Sample00 (Amen Brother (Version 1) 1).0.wav.info"
"cmd/zeptocore/Sample00 (Amen Brother (Version 1) 1).1.wav.info"
"cmd/zeptocore/Sample00 (Amen Brother (Version 1) 1).flac.json"
"cmd/zeptocore/Sample00 (Amen Brother (Version 1) 1).flac.mp3"
cmd/zeptocore/1.mp3
cmd/zeptocore/src/pack/storage/
cmd/zeptocore/src/pack/zips/
cmd/zeptocore/zips/
cmd/zeptocore/src/zeptocore/lofi.2.wav.info
cmd/zeptocore/src/zeptocore/lofi.aif.json
lib/crossfade3.h
lib/resonantfilter_data.h
lib/selectx2.h
cmd/zeptocore/favicon.ico
cmd/zeptocore/src/pack/1/
cmd/zeptocore/2.aif
cmd/zeptocore/src/zeptocore/1.aif
core/core
core/src/renoise/Instrument.xml
core/src/zeptocore/amen.xrni.json
core/src/zeptocore/lofi.0.wav.info
core/src/zeptocore/lofi.1.wav.info
core/src/zeptocore/lofi.aif.json
core/src/zeptocore/lofi.aif.ogg
core/.gitignore
core/storage/
dist/
core/src/sox/soxstatic/
core/soxstatic/
core/src/sox/sox-14.4.2-darwin.zip
core/src/sox/sox-14.4.2-linux.zip
core/src/sox/sox-14.4.2-win32.zip
core/src/zeptocore/test.bin
lib/test/bitfields_go/bitfields
lib/test/bitfields_go/test.bin
