storage/**
.DS_Store
/pico-extras
/pico-sdk
/build
dev/audio2flash/audio2flash
lib/crossfade4_128.h
lib/crossfade4_160.h
lib/crossfade4_192.h
lib/crossfade4_256.h
lib/crossfade4_441.h
lib/crossfade4_64.h
lib/cuedsounds_ectocore.h
lib/cuedsounds_zeptocore.h
lib/fuzz.h
lib/resonantfilter_data.h
zeptomech.uf2
target_compile_definitions.cmake
.vscode/settings.json
/.vscode
core/src/server/docs/_core.fzz
core/src/server/docs/_core_bb.webp
core/src/server/docs/blurbs/
core/src/server/docs/categories/
core/src/server/docs/cheatcode/
core/src/server/docs/combos/
core/src/server/docs/contact/
core/src/server/docs/css/
core/src/server/docs/effects/
core/src/server/docs/favicon.ico
core/src/server/docs/img/battery_pack.webp
core/src/server/docs/img/case1.webp
core/src/server/docs/img/case2.webp
core/src/server/docs/img/case3.webp
core/src/server/docs/img/combo_momentary.webp
core/src/server/docs/img/ectocore.png
core/src/server/docs/img/ectocore_2.png
core/src/server/docs/img/ectocore_screenshot.png
core/src/server/docs/img/kicks.webp
core/src/server/docs/img/z1.webp
core/src/server/docs/img/z2.webp
core/src/server/docs/img/z3.webp
core/src/server/docs/img/zeptoboard_img.png
core/src/server/docs/img/zeptocade.webp
core/src/server/docs/img/zeptocore_noche.png
core/src/server/docs/img/zeptocore_quickstart.pdf
core/src/server/docs/index.html
core/src/server/docs/index.xml
core/src/server/docs/js/
core/src/server/docs/pdf/
core/src/server/docs/posts/
core/src/server/docs/questions/
core/src/server/docs/quickstart/
core/src/server/docs/sitemap.xml
core/src/server/docs/static/
core/src/server/docs/tags/
core/src/server/docs/versions/
core/src/server/docs/wave/
core/src/server/docs/zeptoboard.fzz
core_server
dev/gitread/gitread
docs/content/versions/
docs/public/
drum_separation_model/
drum_separation_model_output/
ectocore-default/
soxstatic/

zeptocore.uf2
pico-examples
ectocore.uf2
core/storage/*
core/tmp/*
core/*zip
*.wav.info
*wav.json

core/core