<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>_core load</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="msapplication-TileColor" content="#f0f4ff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#f0f4ff">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/all.min.css">
</head>

<body>
    <div class="ear leftear"><a href="https://docs.zeptocore.com" style="left:30px; position:relative;"><i
                class="fas fa-book fa-rotate-by" style="--fa-rotate-angle: -45deg; " aria-hidden="true"></i></a></div>
    <div class="ear rightear"><a href="/buy">buy</a></div>


    <div id="fadeCircle"></div>
    <div id="app" v-cloak>
        <dialog id="dialog">
            <form method="dialog">
                <p>
                    <label>
                        Copy {{title}} -> /
                        <input type="text" id="dialogtext" required />
                    </label>
                </p>
                <div>
                    <input type="submit" id="js-close" value="Make copy" formnovalidate
                        style="font-family: inherit; padding:0.5em;" />
                </div>
            </form>
        </dialog>

        <header>
            <a href=" /"><img src="/static/apple-icon.png"
                    style="filter:brightness(100); max-height: 48px; float:right; position:relative;padding-right:1em;"></a>
            <h1 style="margin:0; padding:0;"><a
                    :href="window.location.protocol+'//'+window.location.host + title + '/'">_core{{title}}</a>
            </h1>
            &nbsp; <a href="#" id="show-dialog"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-copy">
                    <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                    <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                </svg></a>
            <span class="hideIfMobile" id="floater">


                <span v-if="deviceType==''">
                    <a href="https://github.com/schollz/_core/releases/[[.VersionCurrent]]" target="_blank">firmware
                        [[.VersionCurrent]]</a>
                </span>
                <span v-else-if="deviceFirmwareUpload"><i class="fas fa-circle" aria-hidden="true"></i> uploading
                    ...</span>
                <span v-else-if="deviceType==''"></span>
                <span v-else>
                    {{deviceType}} {{deviceVersion}}
                    <span v-if="deviceVersion!=latestVersion">-> {{latestVersion}}</span>
                    <span @click="uploadFirmare()" class="clickable">
                        <span v-if="deviceType=='ectocore'">
                            <svg width="24px" height="24px" viewBox="0 0 4 4"
                                style="position: relative; top: 4px; left: 8px;" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                xml:space="preserve" xmlns:serif="http://www.serif.com/"
                                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                                <path
                                    d="M0.08,2.75c0.335,1.355 2.996,1.031 3.229,0.748c0.809,-0.988 0.451,-2.249 -0.568,-2.981c-1.35,-0.825 -2.4,-0.535 -2.609,0.933c-0,0 -0.121,1.024 -0.052,1.3Zm1.449,-2.158c0.092,-0.16 0.462,-0.119 0.826,0.091c0.363,0.21 0.583,0.51 0.491,0.669c-0.092,0.16 -0.462,0.119 -0.826,-0.09c-0.363,-0.21 -0.583,-0.51 -0.491,-0.67Zm-0.948,1.698c-0.183,-0.021 -0.293,-0.376 -0.245,-0.793c0.048,-0.417 0.235,-0.739 0.418,-0.718c0.184,0.021 0.294,0.377 0.246,0.794c-0.048,0.417 -0.236,0.738 -0.419,0.717Z"
                                    style="fill:#fff;" />
                            </svg>
                        </span>
                        <i class="fas fa-upload" aria-hidden="true"></i>

                    </span>
                </span>
            </span>

        </header>
        <div class="progress-bar" :style="{ width: progressBarWidth }"></div>
        <main>
            <div class="banks-selector">
                <ul>
                    <li v-for="(bank, index) in banks" :key="index" @click="selectBank(index)"
                        :class="{ 'selected': index === selectedBank }">
                        <span class="mobile-bank-label" v-if="isMobile"></span>
                        <span class="desktop-bank-label" v-else> <span class="file-count"
                                v-if="banks[index].files.length>0">{{ banks[index].files.length
                                }}</span><span v-else>&nbsp;</span>
                        </span>
                    </li>
                </ul>
            </div>


            <div class="content-area">
                <div class="help-message" v-if="error_message">
                    <p>Sorry, an error occurred:</p>
                    <small><em>"{{error_message}}"</em></small>
                    <p>
                        Please <a
                            :href="'https://github.com/schollz/_core/issues/new?title=' + error_message + '&body=' + window.location.pathname"
                            target="_blank">click here to let me know</a>.
                    </p>
                </div>
                [[ if .IsUpload ]]
                <div v-if="!disconnected">
                    <h2 style="margin-bottom:0; padding-left:1rem;">Bank {{ selectedBank + 1 }}
                    </h2>
                </div>
                [[ end ]]

                [[ if .IsBuy ]]
                <div class="help-banner faq"
                    style="box-shadow: 12px 12px 2px 1px #bdafedaa; background: var(--banks-background); margin-top:4em; margin-bottom:4em;">
                    <h2>Buy <a href="#" @click.prevent="isBuy=false" style="top: 2px;
                            position: relative;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-up-left">
                                <polyline points="9 14 4 9 9 4"></polyline>
                                <path d="M20 20v-7a4 4 0 0 0-4-4H4"></path>
                            </svg></a></h2>
                    <div id='product-component-1706310126407'></div>
                    <script type="text/javascript">
                        /*<![CDATA[*/
                        (function () {
                            var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
                            if (window.ShopifyBuy) {
                                if (window.ShopifyBuy.UI) {
                                    ShopifyBuyInit();
                                } else {
                                    loadScript();
                                }
                            } else {
                                loadScript();
                            }
                            function loadScript() {
                                var script = document.createElement('script');
                                script.async = true;
                                script.src = scriptURL;
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
                                script.onload = ShopifyBuyInit;
                            }
                            function ShopifyBuyInit() {
                                var client = ShopifyBuy.buildClient({
                                    domain: 'infinitedigits.myshopify.com',
                                    storefrontAccessToken: '9e045e3ce0fbee0fb64ebbbce133b648',
                                });
                                ShopifyBuy.UI.onReady(client).then(function (ui) {
                                    ui.createComponent('product', {
                                        id: '8831942492443',
                                        node: document.getElementById('product-component-1706310126407'),
                                        moneyFormat: '%24%7B%7Bamount%7D%7D',
                                        options: {
                                            "product": {
                                                "styles": {
                                                    "product": {
                                                        "@media (min-width: 601px)": {
                                                            "max-width": "calc(25% - 20px)",
                                                            "margin-left": "20px",
                                                            "margin-bottom": "50px"
                                                        }
                                                    },
                                                    "title": {
                                                        "font-family": "Roboto, sans-serif"
                                                    },
                                                    "button": {
                                                        "font-family": "Roboto, sans-serif"
                                                    },
                                                    "price": {
                                                        "font-family": "Roboto, sans-serif"
                                                    },
                                                    "compareAt": {
                                                        "font-family": "Roboto, sans-serif"
                                                    },
                                                    "unitPrice": {
                                                        "font-family": "Roboto, sans-serif"
                                                    }
                                                },
                                                "contents": {
                                                    "button": false,
                                                    "buttonWithQuantity": true
                                                },
                                                "text": {
                                                    "button": "Add to cart"
                                                },
                                                "googleFonts": [
                                                    "Roboto"
                                                ]
                                            },
                                            "productSet": {
                                                "styles": {
                                                    "products": {
                                                        "@media (min-width: 601px)": {
                                                            "margin-left": "-20px"
                                                        }
                                                    }
                                                }
                                            },
                                            "modalProduct": {
                                                "contents": {
                                                    "img": false,
                                                    "imgWithCarousel": true,
                                                    "button": false,
                                                    "buttonWithQuantity": true
                                                },
                                                "styles": {
                                                    "product": {
                                                        "@media (min-width: 601px)": {
                                                            "max-width": "100%",
                                                            "margin-left": "0px",
                                                            "margin-bottom": "0px"
                                                        }
                                                    },
                                                    "button": {
                                                        "font-family": "Roboto, sans-serif"
                                                    },
                                                    "title": {
                                                        "font-family": "Helvetica Neue, sans-serif",
                                                        "font-weight": "bold",
                                                        "font-size": "26px",
                                                        "color": "#4c4c4c"
                                                    },
                                                    "price": {
                                                        "font-family": "Helvetica Neue, sans-serif",
                                                        "font-weight": "normal",
                                                        "font-size": "18px",
                                                        "color": "#4c4c4c"
                                                    },
                                                    "compareAt": {
                                                        "font-family": "Helvetica Neue, sans-serif",
                                                        "font-weight": "normal",
                                                        "font-size": "15.299999999999999px",
                                                        "color": "#4c4c4c"
                                                    },
                                                    "unitPrice": {
                                                        "font-family": "Helvetica Neue, sans-serif",
                                                        "font-weight": "normal",
                                                        "font-size": "15.299999999999999px",
                                                        "color": "#4c4c4c"
                                                    }
                                                },
                                                "googleFonts": [
                                                    "Roboto"
                                                ],
                                                "text": {
                                                    "button": "Buy"
                                                }
                                            },
                                            "option": {
                                                "styles": {
                                                    "label": {
                                                        "font-family": "Roboto, sans-serif"
                                                    },
                                                    "select": {
                                                        "font-family": "Roboto, sans-serif"
                                                    }
                                                },
                                                "googleFonts": [
                                                    "Roboto"
                                                ]
                                            },
                                            "cart": {
                                                "styles": {
                                                    "button": {
                                                        "font-family": "Roboto, sans-serif"
                                                    }
                                                },
                                                "text": {
                                                    "total": "Subtotal",
                                                    "button": "Checkout"
                                                },
                                                "googleFonts": [
                                                    "Roboto"
                                                ]
                                            },
                                            "toggle": {
                                                "styles": {
                                                    "toggle": {
                                                        "font-family": "Roboto, sans-serif"
                                                    }
                                                },
                                                "googleFonts": [
                                                    "Roboto"
                                                ]
                                            }
                                        },
                                    });
                                });
                            }
                        })();
                        /*]]>*/
                    </script>
                    <!-- <details>
                        <summary>My zeptocore suddenly stops and the power is fine, what is happening?</summary>
                        <p>This is likely an overheating issue, which I've only encountered when using the external
                            clock. By default, the zeptocore uses <em>overclocking</em> to
                            get the most effects as possible, but the external clock can increase the heat too much and
                            causes the zeptocore to shut off. A reliable fix for this is (if you want to use the
                            clocking) is to <a
                                href="https://github.com/schollz/_core/releases/download/[[.VersionCurrent]]/zeptocore_nooverclock.uf2">download
                                the firmware without overclocking</a>.
                        </p>
                    </details> -->
                </div>
                [[ end]]


                [[ if .IsZeptocore ]]
                <div class="help-banner faq"
                    style="box-shadow: 12px 12px 2px 1px #bdafedaa; background: var(--banks-background); margin-top:2em; margin-bottom:2em;">
                    <h2>How do I... <a href="/" style="top: 2px;
                            position: relative;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-up-left">
                                <polyline points="9 14 4 9 9 4"></polyline>
                                <path d="M20 20v-7a4 4 0 0 0-4-4H4"></path>
                            </svg></a></h2>
                    <details>
                        <summary>Change the volume?</summary>
                        <p>Press <strong>A</strong> and turn knob <strong>Z</strong>.</p>
                    </details>
                    <details>
                        <summary>Change the tempo?</summary>
                        <p>Press <strong>A</strong> and turn knob <strong>X</strong>.</p>
                        <p>Or hold <strong>A</strong> and tap <strong>B</strong> to tap in a tempo.</p>
                    </details>
                    <details>
                        <summary>Change the sample?</summary>
                        <p>Hold <strong>B</strong> and then press <strong>1-16</strong> to select a bank, and then
                            (while continuing to hold <strong>B</strong>), press <strong>1-16</strong> to select the
                            sample.</p>
                    </details>
                    <details>
                        <summary>Mute?</summary>
                        <p>Hold <strong>B</strong> and then press <strong>C</strong>.</p>
                    </details>
                    <details>
                        <summary>Stop and start playback?</summary>
                        <p>Hold <strong>B</strong> and then press <strong>D</strong>.</p>
                    </details>
                </div>
                [[ end ]]

                [[if .IsFaq]]
                <div class="help-banner faq"
                    style="box-shadow: 12px 12px 2px 1px #bdafedaa; background: var(--banks-background);">
                    <h2>FAQ <a href="/" style="top: 2px;
                            position: relative;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-up-left">
                                <polyline points="9 14 4 9 9 4"></polyline>
                                <path d="M20 20v-7a4 4 0 0 0-4-4H4"></path>
                            </svg></a></h2>
                    <details>
                        <summary>Can I run this tool on my computer offline?</summary>
                        <p>Yes! You can download this and use it
                            locally for <a
                                href="https://github.com/schollz/_core/releases/download/[[.VersionCurrent]]/core_windows.exe">Windows</a>,
                            <a
                                href="https://github.com/schollz/_core/releases/download/[[.VersionCurrent]]/core_macos_aarch64">Mac
                                OS (M1)</a>, <a
                                href="https://github.com/schollz/_core/releases/download/[[.VersionCurrent]]/core_macos_amd64">Mac
                                OS (x86_64)</a>,
                            or <a
                                href="https://github.com/schollz/_core/releases/download/[[.VersionCurrent]]/core_linux_amd64">Linux</a>.
                        </p>
                    </details>
                    <!-- <details>
                        <summary>My zeptocore suddenly stops and the power is fine, what is happening?</summary>
                        <p>This is likely an overheating issue, which I've only encountered when using the external
                            clock. By default, the zeptocore uses <em>overclocking</em> to
                            get the most effects as possible, but the external clock can increase the heat too much and
                            causes the zeptocore to shut off. A reliable fix for this is (if you want to use the
                            clocking) is to <a
                                href="https://github.com/schollz/_core/releases/download/[[.VersionCurrent]]/zeptocore_nooverclock.uf2">download
                                the firmware without overclocking</a>.
                        </p>
                    </details> -->
                </div>
                [[end]]

                [[ if .IsMain ]]
                <div class="help-banner"
                    style="box-shadow: 12px 12px 2px 1px #bdafedaa; background: var(--banks-background);">
                    <h2>Welcome to the _core tool.</h2>
                    <p v-if="previousPages.length>0">
                        Previous workspaces: <span v-for="link in previousPages"><a
                                :href="window.location.protocol+'//'+window.location.host +'/'+ link">{{link}}</a>&nbsp</span>
                    </p>
                    <p>
                        Use this website to allocate audio files onto the <a href="https://zeptocore.com">zeptocore</a>
                        or ectocore. There is no
                        login nessecary. To get started, simply type in a name that you can remember and
                        press
                        enter:
                        <input v-on:keyup.enter="newURL">

                    </p>
                    <p>
                        <em>or</em> click one of these randomly generated URLs: <a
                            href="/[[.GenURL1]]">[[.GenURL1]]</a>,
                        <a href="/[[.GenURL2]]">[[.GenURL2]]</a>.
                    </p>

                    <div v-if="showCookiePolicy">
                        <br>
                        <br>
                        <h1>Cookie Policy for tool.zeptocore.com</h1>
                        <p><strong>Last Updated:</strong> January 22nd, 2024</p>

                        <h2>Understanding Cookies</h2>
                        <p>A cookie is a small text file that our website places on your computer or device
                            when you
                            visit.
                            Cookies are widely used to make websites work or to work more efficiently, as
                            well as to
                            provide
                            information to the site owners.</p>

                        <h2>Use of Cookies on Our Website</h2>
                        <p>At tool.zeptocore.com, we use cookies exclusively for navigation purposes. This
                            means
                            that
                            the
                            cookies are essential to help you move around our website and use its features,
                            such as
                            accessing secure areas of the site. Without these cookies, some services you
                            have asked
                            for,
                            like navigation between pages, cannot be provided.</p>

                        <h2>Your Consent</h2>
                        <p>By using our website, you hereby consent to our Cookie Policy and agree to its
                            terms.
                            When
                            you
                            visit tool.zeptocore.com for the first time, a cookie consent banner will
                            appear,
                            allowing
                            you
                            to give explicit consent to this policy.</p>

                        <h2>Managing Cookies</h2>
                        <p>You can manage or delete cookies as you wish. You can delete all cookies that are
                            already
                            on
                            your
                            computer, and you can set most browsers to prevent them from being placed.
                            However, if
                            you
                            do
                            this, you may have to manually adjust some preferences every time you visit a
                            site, and
                            some
                            services and functionalities may not work.</p>

                        <h2>Changes to the Cookie Policy</h2>
                        <p>We may update our Cookie Policy from time to time. We encourage visitors to
                            frequently
                            check
                            this
                            page for any changes. Your continued use of our site after any change in this
                            Cookie
                            Policy
                            will
                            constitute your acceptance of such change.</p>

                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                [[ end ]]

                [[ if .IsUpload]]
                <div class=" file-uploader" v-if="!disconnected">
                    <!-- Add file input for selecting files -->
                    <input type="file" id="fileInput" @change="handleFileInputChange" multiple style="display: none">
                    <div class="drop-area" @drop="handleDrop" @dragover.prevent @click="openFileInput">
                        Drop audio files (mp3, wav, flac, xrni, aif) or click to select
                    </div>
                </div>
                <div v-if=" (disconnected)"
                    style="height: 100%; display: flex; align-items: center; justify-content: center;">
                    <svg width="300px" height="300px" viewBox="0 0 187.3 93.7" preserveAspectRatio="xMidYMid meet"
                        style="margin: 0 auto; text-align: center;">
                        <path stroke="var(--header-footer-background)" id="outline" fill="none" stroke-width="8"
                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                            d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" />
                        <path id="outline-bg" opacity="0.1" fill="none" stroke="var(--header-footer-background)"
                            stroke-width="8" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                            d="				M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" />
                    </svg>

                    <!-- <img src="/static/Infinity-2.3s-200px.svg" style="margin: 0 auto; text-align: center;"> -->
                </div>

                <div class="file-list" v-if="banks[selectedBank].files.length > 0 && !disconnected">
                    <button @click="clearCurrentBank" v-if="banks[selectedBank].files.length > 0"
                        style="margin-left: 0.5rem;">Remove all</button>
                    <!-- <button @click="clearSelectedFiles" v-if="selectedFiles.length > 0" style="margin-left: 0;">Clear
                        selected</button> -->
                    <button @click="removeSelectedFiles" v-if="selectedFiles.length > 0" style="margin-left: 0;">Remove
                        selected</button>
                    <button @click="mergeSelectedFiles" v-if="selectedFiles.length > 1" style="margin-left: 0;">Merge
                        selected files</button>
                    <ul>
                        <li v-for="(file, fileIndex) in banks[selectedBank].files" :key="fileIndex"
                            @click="showFileDetails(fileIndex)"
                            :class="{ 'selected': isSelected(fileIndex), 'selected_on':isSelectedAndOpen(fileIndex) }"
                            :data-file-number="fileIndex + 1">
                            {{ file.Filename }}
                            <!-- file movers -->
                            <a @click.stop="moveFileUpIndex(fileIndex)" class="hideIfMobile"
                                style="float:right; z-index:999;">▲</a>
                            <a @click.stop="moveFileDownIndex(fileIndex)" class="hideIfMobile"
                                style="float:right;  z-index:999; margin-right:0.2em;">▼</a>
                        </li>
                    </ul>
                </div>

                <div class="file-details" v-if="selectedFile!=null && !disconnected">
                    <p style="margin-top:0;
                    padding: 0.5rem;
                    text-align: left;">{{ banks[selectedBank].files[selectedFile].Filename }} ({{
                        banks[selectedBank].files[selectedFile].SliceStart.length }} slices,
                        {{humanizeDuration((banks[selectedBank].files[selectedFile].Duration).toFixed(1)*1000)}})
                    </p>
                    <!-- <p><strong>Name:</strong> {{ banks[selectedBank].files[selectedFile].Filename }}</p>
                    <p><strong>Duration:</strong> {{ banks[selectedBank].files[selectedFile].Duration }} seconds</p> -->

                    <button @click="removeSelectedFile" style="margin-left:0;">Remove sample</button>
                    <span v-if="banks[selectedBank].files.length>1">
                        <button @click="moveFileUp" :disabled="selectedFile === 0">Move Up</button>
                        <button @click="moveFileDown"
                            :disabled="selectedFile === banks[selectedBank].files.length - 1">Move
                            Down</button>
                    </span>
                    <p>
                        <input type="checkbox" id="channels" @click="updateChannels"
                            v-model="banks[selectedBank].files[selectedFile].Channels">
                        <label for="channels">Channels: <span
                                v-if="banks[selectedBank].files[selectedFile].Channels>0">stereo</span>
                            <span v-else>mono</span></label>
                        <svg v-if="banks[selectedBank].files[selectedFile].Channels==0"
                            style="position:relative;top:7px;left:-6px;" xmlns="http://www.w3.org/2000/svg" width="32"
                            height="24" viewBox="0 0 24 24" fill="none" stroke="#8d7ace" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle">
                            <circle cx="12" cy="12" r="10"></circle>
                        </svg>
                        <svg v-if="banks[selectedBank].files[selectedFile].Channels==1"
                            style="position:relative;top:7px;left:-6px;" xmlns="http://www.w3.org/2000/svg" width="32"
                            height="24" viewBox="0 0 24 24" fill="none" stroke="#8d7ace" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle">
                            <circle cx="16" cy="12" r="10"></circle>
                            <circle cx="8" cy="12" r="10"></circle>
                        </svg>
                    </p>
                    <p>
                        <input type="checkbox" id="oneshot" @click="updateOneshot"
                            v-model="banks[selectedBank].files[selectedFile].OneShot">
                        <label for="oneshot">One-shot: <span
                                v-if="banks[selectedBank].files[selectedFile].OneShot">on</span>
                            <span v-else>off</span></label>
                    </p>
                    <p v-if="banks[selectedBank].files[selectedFile].OneShot">
                        <label for="spliceplayback">One-shot mode:</label>
                        <select id="spliceplayback" @click="updateSplicePlayback"
                            v-model="banks[selectedBank].files[selectedFile].SplicePlayback">
                            <option value=0>normal</option>
                            <option value=1>stop at end of splice</option>
                            <option value=2>loop back at end of splice</option>
                            <option value=3>stop at end of sample</option>
                            <option value=4>loop back at end of sample</option>
                        </select>
                    </p>

                    <p>
                        <input type="checkbox" id="tempomatch"
                            v-model="banks[selectedBank].files[selectedFile].TempoMatch" @click="updateTempomatch">
                        <label for="tempomatch">Tempo matching: <span
                                v-if="banks[selectedBank].files[selectedFile].TempoMatch">on (changing bpm
                                changes
                                speed)</span>
                            <span v-else>off</span></label>
                    </p>
                    <p v-if="banks[selectedBank].files[selectedFile].TempoMatch">
                        Source BPM: <input type="number" v-model="banks[selectedBank].files[selectedFile].BPM"
                            @change.prevent="updateBPM($event)">
                    </p>

                    <div id="waveform-parent">
                        <div id="waveform"></div>
                        <p style="display: flex; align-items: center;">
                            <button @click="toggleSamplePlayback" style="margin-left:0;" v-if="playingSample">Stop
                                sample</button>
                            <button @click="toggleSamplePlayback" style="margin-left:0;" v-if="!playingSample">Play
                                sample</button>
                            <label style="margin-left:1em;">Zoom:</label>
                            <input type="range" min="10" max="1000" value="10" />
                        </p>
                        <p>
                            <button @click="deleteRegion" style="margin-left:0;">Delete selected
                                slice</button>
                            <button @click="deleteAllRegions" style="margin-left:0;">Delete all
                                slices</button>
                        </p>
                        <p>
                            <label>
                                Number of slices: <input id="onsetSlices" type="number" min="1" max="127" value=16
                                    style="width:3em;" />
                            </label>
                            <button @click="createRegionsEvenly" style="margin-left:0;">Create
                                evenly</button>
                            <button @click="createRegionsAutomatically" style="margin-left:0;">Create from
                                transients</button>
                        </p>

                        <p>
                            <input type="checkbox" id="variablesplices" @click="updateSpliceVariable"
                                v-model="banks[selectedBank].files[selectedFile].SpliceVariable">
                            <label for="variablesplices">Variable: <span
                                    v-if="banks[selectedBank].files[selectedFile].SpliceVariable">on</span>
                                <span v-else>off</span></label>&nbsp;
                            <label
                                v-bind:class="(banks[selectedBank].files[selectedFile].SpliceVariable==true)?'grayed':'not-grayed'">
                                Pulses per slice <small>(192 ppqn)</small>: <input
                                    :disabled="banks[selectedBank].files[selectedFile].SpliceVariable==true"
                                    id="slicesPerBeat" type="number" min="1" step="1" value=1 style="width:4em;"
                                    v-model="banks[selectedBank].files[selectedFile].SpliceTrigger"
                                    @change.prevent="updateSlicesPerBeat($event)" />
                            </label>


                        </p>
                    </div>
                </div>

                [[end ]]
            </div>
        </main>
        <footer>
            [[ if .IsUpload ]]
            <form id="downloadForm" @submit.prevent="submitForm">
                <div class="footer-row">
                    <!-- <div class="footer-item">
                        <label for=" oversampling">Oversampling:</label>
                        <select id="oversampling" v-model="oversampling">
                            <option value="1x">1x</option>
                            <option value="2x">2x</option>
                            <option value="4x">4x</option>
                        </select>
                    </div> -->
                    <!-- <div class="footer-item">
                        <label for="stereoMono">&nbsp;Mono/Stereo:</label>
                        <select id="stereoMono" v-model="stereoMono">
                            <option value="stereo">Stereo</option>
                            <option value="mono">Mono</option>
                        </select>
                    </div> -->
                    <!-- <div class="footer-item">
                        <label for="resampling">Resampling:</label>
                        <select id="resampling" v-model="resampling">
                            <option value="linear">Linear</option>
                            <option value="quadratic">Quadratic</option>
                        </select>
                    </div> -->

                    <div class="footer-item">
                        <div v-if="uploading">uploading</div>
                        <div v-else-if="processing">processing</div>
                        <div v-else-if="downloading">downloading</div>
                        <button type="submit" v-else-if="diskUsage>0">Download .zip to load onto SD card ({{
                            formatBytes(diskUsage)
                            }})</button>

                    </div>
                </div>
            </form>
            [[ end ]]
        </footer>
        <div id="cookieConsentContainer" class="cookie-consent-container">
            <div class="content-container">
                <p>This website uses cookies to ensure you get the best experience on our website. <a href="#"
                        @click.prevent="showCookiePolicy=true">Learn
                        more</a>.</p>
                <div class="button-container">
                    <button id="cookieConsentButton" class="cookie-consent-button">Got it!</button>
                </div>
            </div>
        </div>
    </div>




    <script src="/static/humanize-duration.min.js"></script>
    <script src="/static/vue.js"></script>

    <script type="module">
        import { WaveSurferG, RegionsPluginG } from "/static/waves.js";
        window.WaveSurf = WaveSurferG;
        window.RegionsPlugin = RegionsPluginG;
    </script>
    <script src="/static/app.js"></script>
    <script>
        window.onload = function () {
            let consent = localStorage.getItem('cookieConsent');
            if (!consent) {
                document.getElementById('cookieConsentContainer').style.display = 'block';
            }

            document.getElementById('cookieConsentButton').onclick = function () {
                localStorage.setItem('cookieConsent', 'true');
                document.getElementById('cookieConsentContainer').style.display = 'none';
            };
            document.getElementById("show-dialog").addEventListener("click", () => {
                document.getElementById("dialog").showModal();
            });

            document.getElementById("dialog").querySelector("#js-close").addEventListener("click", (e) => {
                e.preventDefault();
                document.getElementById("dialog").close();
                console.log('closed');
                if (socket != null && document.getElementById("dialogtext").value != "") {
                    socket.send(JSON.stringify({
                        action: "copyworkspace",
                        place: window.location.pathname,
                        message: document.getElementById("dialogtext").value,
                    }));
                }
            });
        };
    </script>
</body>

</html>