<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>_core load</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="msapplication-TileColor" content="#f0f4ff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#f0f4ff">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="fadeCircle"></div>
    <div id="app" v-cloak>
        <header>
            <a href="/"><img src="/static/apple-icon.png"
                    style="filter:brightness(100); max-height: 48px; float:right; position:relative;padding-right:1em;"></a>
            <h1 style="margin:0; padding:0;"><a
                    :href="window.location.protocol+'//'+window.location.host + title + '/'">_core{{title}}</a></h1>
            <a href="https://github.com/schollz/_core/releases/VERSION_CURRENT" target="_blank" class="hideIfMobile" id="floater">firmware
                VERSION_CURRENT</a>
        </header>
        <div class="progress-bar" :style="{ width: progressBarWidth }"></div>
        <main>
            <div class="banks-selector">
                <ul>
                    <li v-for="(bank, index) in banks" :key="index" @click="selectBank(index)"
                        :class="{ 'selected': index === selectedBank }">
                        <span class="mobile-bank-label" v-if="isMobile"></span>
                        <span class="desktop-bank-label" v-else> <span class="file-count"
                                v-if="banks[index].files.length>0">{{ banks[index].files.length
                                }}</span><span v-else>&nbsp;</span>
                        </span>
                    </li>
                </ul>
            </div>


            <div class="content-area">
                <div class="help-message" v-if="error_message">
                    <p>Sorry, an error occurred:</p>
                    <small><em>"{{error_message}}"</em></small>
                    <p>
                        Please <a
                            :href="'https://github.com/schollz/_core/issues/new?title=' + error_message + '&body=' + window.location.pathname"
                            target="_blank">click here to let me know</a>.
                    </p>
                </div>
                <div v-if="!isMain">
                    <h2 style="margin-bottom:0; padding-left:1rem;">Bank {{ selectedBank + 1 }}
                    </h2>
                </div>



                <div v-if="isMain" class="help-banner">
                    <h2>_core load</h2>
                    <p>
                        This tool lets you easily organize files for using on _core devices.
                    </p>
                    <p v-if="previousPages.length>0">
                        Some previous pages:
                    <ul>
                        <li v-for="link in previousPages" style="padding-top:0.5em"><a
                                :href="window.location.protocol+'//'+window.location.host +'/'+ link + '/'">{{link}}</a>&nbsp;
                        </li>
                    </ul>

                    </p>
                    <p>
                        Some new pages:
                    <ul>
                        <li v-for="link in randomPages" style="padding-top:0.5em"><a
                                :href="window.location.protocol+'//'+window.location.host +'/'+ link + '/'">{{link}}</a>&nbsp;
                        </li>
                    </ul>

                    </p>
                </div>

                <div class=" file-uploader" v-if="!disconnected && !isMain">
                    <!-- Add file input for selecting files -->
                    <input type="file" id="fileInput" @change="handleFileInputChange" multiple style="display: none">
                    <div class="drop-area" @drop="handleDrop" @dragover.prevent @click="openFileInput">
                        Drop your files here or click to select
                    </div>
                </div>
                <div v-if="disconnected && !isMain" style="text-align: center;">
                    <span class="loader"></span>
                </div>

                <div class="file-list" v-if="banks[selectedBank].files.length > 0 && !disconnected">
                    <button @click="clearCurrentBank" v-if="banks[selectedBank].files.length > 0"
                        style="margin-left: 0.5rem;">Remove all</button>
                    <!-- <button @click="clearSelectedFiles" v-if="selectedFiles.length > 0" style="margin-left: 0;">Clear
                        selected</button> -->
                    <button @click="removeSelectedFiles" v-if="selectedFiles.length > 0" style="margin-left: 0;">Remove
                        selected</button>
                    <button @click="mergeSelectedFiles" v-if="selectedFiles.length > 1" style="margin-left: 0;">Merge
                        selected files</button>
                    <ul>
                        <li v-for="(file, fileIndex) in banks[selectedBank].files" :key="fileIndex"
                            @click="showFileDetails(fileIndex)" :class="{ 'selected': isSelected(fileIndex) }"
                            :data-file-number="fileIndex + 1">
                            {{ file.Filename }}
                            <!-- file movers -->
                            <a @click.stop="moveFileUpIndex(fileIndex)" class="hideIfMobile" style="float:right; z-index:999;">▲</a>
                            <a @click.stop="moveFileDownIndex(fileIndex)"  class="hideIfMobile" 
                                style="float:right;  z-index:999; margin-right:0.2em;">▼</a>
                        </li>
                    </ul>
                </div>

                <div class="file-details" v-if="selectedFile!=null && !disconnected">
                    <p style="margin-top:0;
                    padding: 0.5rem;
                    text-align: left;">{{ banks[selectedBank].files[selectedFile].Filename }} ({{
                        banks[selectedBank].files[selectedFile].SliceStart.length }} slices,
                        {{humanizeDuration((banks[selectedBank].files[selectedFile].Duration).toFixed(1)*1000)}})</p>
                    <!-- <p><strong>Name:</strong> {{ banks[selectedBank].files[selectedFile].Filename }}</p>
                    <p><strong>Duration:</strong> {{ banks[selectedBank].files[selectedFile].Duration }} seconds</p> -->

                    <button @click="removeSelectedFile" style="margin-left:0;">Remove sample</button>
                    <span v-if="banks[selectedBank].files.length>1">
                        <button @click="moveFileUp" :disabled="selectedFile === 0">Move Up</button>
                        <button @click="moveFileDown"
                            :disabled="selectedFile === banks[selectedBank].files.length - 1">Move
                            Down</button>
                    </span>
                    <p>
                        <input type="checkbox" id="oneshot" @click="updateOneshot"
                            v-model="banks[selectedBank].files[selectedFile].OneShot">
                        <label for="oneshot">One-shot: <span
                                v-if="banks[selectedBank].files[selectedFile].OneShot">on</span>
                            <span v-else>off</span></label>
                    </p>
                    <p v-if="banks[selectedBank].files[selectedFile].OneShot">
                        <label for="spliceplayback">One-shot mode:</label>
                        <select id="spliceplayback" @click="updateSplicePlayback"
                            v-model="banks[selectedBank].files[selectedFile].SplicePlayback">
                            <option value=0>normal</option>
                            <option value=1>stop at end of splice</option>
                            <option value=2>loop back at end of splice</option>
                            <option value=3>stop at end of sample</option>
                            <option value=4>loop back at end of sample</option>
                        </select>
                    </p>

                    <p>
                        <input type="checkbox" id="tempomatch"
                            v-model="banks[selectedBank].files[selectedFile].TempoMatch" @click="updateTempomatch">
                        <label for="tempomatch">Tempo matching: <span
                                v-if="banks[selectedBank].files[selectedFile].TempoMatch">on (changing bpm changes
                                speed)</span>
                            <span v-else>off</span></label>
                    </p>
                    <p v-if="banks[selectedBank].files[selectedFile].TempoMatch">
                        Source BPM: <input type="number" v-model="banks[selectedBank].files[selectedFile].BPM">
                    </p>
                    <div id="waveform-parent">
                        <div id="waveform"></div>
                        <p>

                            <label style="margin-left: 2em">
                                Zoom: <input type="range" min="10" max="1000" value="10" />
                            </label>
                        </p>
                        <p>
                            <button @click="deleteRegion" style="margin-left:0;">Delete selected region</button>
                            <button @click="deleteAllRegions" style="margin-left:0;">Delete all regions</button>
                        </p>
                        <p>
                            <label style="margin-left: 2em">
                                Number of regions: <input id="onsetSlices" type="number" min="1" max="128" value=16
                                    style="width:3em;" />
                            </label>
                            <button @click="createRegionsEvenly" style="margin-left:0;">Create evenly</button>
                            <button @click="createRegionsAutomatically" style="margin-left:0;">Create from
                                transients</button>
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <form id="downloadForm" @submit.prevent="submitForm" v-if="!isMain">
                <div class="footer-row">
                    <!-- <div class="footer-item">
                        <label for=" oversampling">Oversampling:</label>
                        <select id="oversampling" v-model="oversampling">
                            <option value="1x">1x</option>
                            <option value="2x">2x</option>
                            <option value="4x">4x</option>
                        </select>
                    </div> -->
                    <!-- <div class="footer-item">
                        <label for="stereoMono">&nbsp;Mono/Stereo:</label>
                        <select id="stereoMono" v-model="stereoMono">
                            <option value="stereo">Stereo</option>
                            <option value="mono">Mono</option>
                        </select>
                    </div> -->
                    <!-- <div class="footer-item">
                        <label for="resampling">Resampling:</label>
                        <select id="resampling" v-model="resampling">
                            <option value="linear">Linear</option>
                            <option value="quadratic">Quadratic</option>
                        </select>
                    </div> -->

                    <div class="footer-item">
                        <div v-if="uploading">uploading</div>
                        <div v-else-if="processing">processing</div>
                        <div v-else-if="downloading">downloading</div>
                        <button type="submit" v-else>Download ({{ formatBytes(diskUsage) }})</button>
                    </div>
                </div>
            </form>
        </footer>

    </div>


    <script src="/static/humanize-duration.min.js"></script>
    <script src="/static/vue.js"></script>
    <script type="module">
        import { WaveSurferG, RegionsPluginG } from "/static/waves.js";
        window.WaveSurf = WaveSurferG;
        window.RegionsPlugin = RegionsPluginG;
    </script>
    <script src="/static/app.js"></script>
</body>

</html>