/* :root {
    --background-color: #f9f9f9;
    --header-footer-background: #2a2a2a;
    --banks-background: #efefef;
    --highlight-color: #bfbfbf;
    --hover-color: #c7c7c7;
    --light-highlight-color: #e4e4e4e8;
}

body {
    background-image: url('/static/background.png');
    background-repeat: repeat;
} */

:root {
    --background-color: #f4f0ff;
    --header-footer-background: #bdafeb;
    --banks-background: #dcd6f7;
    --highlight-color: #c3b8e6;
    --highlight-color-darker: #afa2db;
    --hover-color: #d2cde9;
    --other-color: #6d51c9;
}

/* :root {
    --background-color: #f0f4ff;
    --header-footer-background: #005c99;
    --banks-background: #cde0f7;
    --highlight-color: #8ab4d7;
    --hover-color: #a1c3e6;
    --light-highlight-color: #e1ecfa;
} */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'MonaspaceKrypton';
    src: url('/static/MonaspaceKrypton-Regular.woff') format('woff');
}


@font-face {
    font-family: "OdinRounded";
    src: url('/static/odin-rounded.regular.woff') format('woff');
}

body {
    font-family: 'MonaspaceKrypton', monospace;
    margin: 0;
    background-color: var(--background-color);
    ;
    /* Light purple background color */
    max-width: 1200px;
    margin: auto;
}

#app {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    border-right: 5px solid var(--header-footer-background);
    border-radius: 12px;
}

header,
footer {
    background-color: var(--header-footer-background);
    /* Dark purple header and footer background color */
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
}

#floater {
    margin-left: auto;
    font-weight: 900;
    font-size: 1.5rem;
}

header {
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
}

footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 5px;
}

main {
    display: flex;
    flex: 1;
}

a:hover {
    text-decoration: underline;
}

.help-message {
    margin: 1em;
    padding: 1em;
    border-color: var(--header-footer-background);
    border-style: solid;
    background: var(--banks-background);
    text-align: center;
}

.help-message a {
    color: black;
    text-decoration: underline;
}

.help-message a:hover {
    color: var(--other-color);
}

.help-banner {
    margin: 3em;
    padding: 2em;
    max-width: 600px;
    border-color: var(--header-footer-background);
    border-style: solid;
    background: var(--banks-background);
    margin: auto;
}

.help-banner a {
    color: white;
    text-decoration: none;
    background: var(--header-footer-background);
    padding: 0.25em;

}

.help-banner a:hover {
    background: var(--highlight-color);
}

.banks-selector {
    background-color: var(--banks-background);
    padding: 1rem;
}

.banks-selector ul {
    list-style: none;
    padding: 0;
}

.banks-selector li {
    cursor: pointer;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: var(--background-color);
    line-height: 0.5;
}

.banks-selector li.selected {
    background-color: var(--header-footer-background);
    /* Highlight color for selected bank */
    color: white;
}

.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.file-uploader,
.file-list,
.file-details {
    padding: 1rem;
}

.file-details {
    border: 3px solid var(--highlight-color);
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
}

.drop-area {
    border: 2px dashed #aaa;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
}

.file-list ul {
    list-style: none;
    padding: 0;
}

.file-list li {
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
    background-color: var(--highlight-color);
    position: relative;
    border-radius: 10px;
}

.file-list li::before {
    content: attr(data-file-number);
    position: absolute;
    left: -1rem;
    z-index: 1;
}

.file-list li.selected::before {
    color: #333;
}

.file-list li.selected {
    background-color: var(--highlight-color-darker);
    /* Highlight color for selected file */
    color: #333;
}

/* .file-list li:hover {
    background-color: var(--hover-color);
} */

.progress-bar {
    height: 5px;
    background: var(--header-footer-background);
    position: absolute;
    top: 0;
    left: 0;
    height: 0.5rem;
    width: 0;
    transition: width 0.05s ease, opacity 0.5s ease-out;
    /* Add a smooth transition effect */
}

/* Styling for the "Clear" button */
.file-list h2 {
    margin-bottom: 0;
    display: inline-block;
}


select,
.inputURL {
    font-family: 'MonaspaceKrypton', monospace;
}

.inputURL {
    padding: 0.25em;
    padding-top: 0.25em;
    font-size: 0.9em;
    color: white;
    background: var(--header-footer-background);
    border: solid 1px;
    border-color: white;
    padding-top: 0.5em;
}

button {
    font-family: 'MonaspaceKrypton', monospace;
    background-color: var(--banks-background);
    /* Light purple background color for buttons */
    color: black;
    /* Dark purple text color for buttons */
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1rem;
}

button:hover {
    background-color: var(--highlight-color);
    /* Slightly darker purple on button hover */
    color: white;
}


.footer {
    justify-content: space-between;
}

.footer-item {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Center items vertically */
}


footer>form {
    max-width: 500px;
    margin: left;
}

footer>form>select {
    max-width: 2em;
}

body {
    padding: 2em;
}

@media screen and (max-width: 768px) {
    /* Adjustments for mobile devices */

    .hideIfMobile {
        display: none;
    }


    #app {
        border-left: 5px solid var(--header-footer-background);
        font-size-adjust: 0.4;
    }

    header {
        box-sizing: border-box;
        /* Adjust the maximum height as needed */
        overflow: hidden;
    }

    .banks-selector {
        overflow-x: auto;
        padding: 0;
        margin: 0;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        /* Adjust the maximum height as needed */
    }

    .banks-selector ul {
        display: flex;
        margin-right: 2.125vw;
    }

    .banks-selector li {
        margin-right: 0.5rem;
        white-space: nowrap;
        padding: 0;
        height: 5.5vw;
        width: 4.125vw;
        margin: 0;
        margin-left: 2.125vw;
    }

    main {
        flex-direction: column;
        overflow-y: auto;
        /* Adjust the margin to match the header's max-height */
    }

    .content-area {
        overflow-y: auto;
        flex: 1;
    }

    .banks-selector li .desktop-bank-label {
        display: none;
    }

    .banks-selector li .mobile-bank-label {
        display: inline-block;
    }

    .footer-row {
        flex-direction: column;
    }

    h2 {
        font-size: 1rem;
        /* Adjust the font size as needed for smaller screens */
    }

    h1 {
        font-size: 1.5rem;
        /* Adjust the font size as needed for smaller screens */
    }

    body {
        padding: 1em;
    }

    .help-banner {
        padding: 1em;
        margin: 1em;
    }
}

a {
    color: white;
    text-decoration: none;
}


.loader {
    width: 64px;
    height: 12px;
    background:
        radial-gradient(circle 6px, #FFF 100%, transparent 0),
        radial-gradient(circle 6px, #FFF 100%, transparent 0);
    background-size: 12px 12px;
    background-position: left center, right center;
    background-repeat: no-repeat;
    position: relative;
}

.loader:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #FF3D00;
    inset: 0;
    margin: auto;
    animation: mvX 0.6s, mvY 0.3s;
    animation-timing-function: cubic-bezier(.5, -300, .5, 300);
    animation-iteration-count: infinite;
}

@keyframes mvX {
    100% {
        left: 0.85px
    }
}

@keyframes mvY {
    100% {
        top: 0.5px
    }
}


[v-cloak] {
    display: none;
}


#fadeCircle {
    width: 25px;
    height: 25px;
    background-color: var(--header-footer-background);
    border-radius: 50%;
    position: absolute;
    top: 1em;
    right: 1em;
    opacity: 0;
    transition: opacity 0.2s ease-in, opacity 5s ease-out;
    z-index: 999;
    /* Set a higher z-index value */
}



#outline {
    stroke-dasharray: 2.42777px, 242.77666px;
    stroke-dashoffset: 0;
    -webkit-animation: anim 1.6s linear infinite;
    animation: anim 1.6s linear infinite;
}

@-webkit-keyframes anim {
    12.5% {
        stroke-dasharray: 33.98873px, 242.77666px;
        stroke-dashoffset: -26.70543px;
    }

    43.75% {
        stroke-dasharray: 84.97183px, 242.77666px;
        stroke-dashoffset: -84.97183px;
    }

    100% {
        stroke-dasharray: 2.42777px, 242.77666px;
        stroke-dashoffset: -240.34889px;
    }
}

@keyframes anim {
    12.5% {
        stroke-dasharray: 33.98873px, 242.77666px;
        stroke-dashoffset: -26.70543px;
    }

    43.75% {
        stroke-dasharray: 84.97183px, 242.77666px;
        stroke-dashoffset: -84.97183px;
    }

    100% {
        stroke-dasharray: 2.42777px, 242.77666px;
        stroke-dashoffset: -240.34889px;
    }
}


.help-banner a {
    color: black;
    text-decoration: underline;
    background: inherit;
}

.help-banner input {
    background: inherit;
    padding: 0.5em;
    font-family: inherit;
    border: 1px solid #000;
    margin-top: 0.25em;
    filter: drop-shadow(1px 1px 1px #4444dd);
}

.file-details {
    box-shadow: 3px 3px 2px 1px #bdafedaa;
}

.cookie-consent-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--other-color);
    padding: 2em;
    z-index: 1000;
    display: none;
    color: white;
}

.cookie-consent-container a {
    text-decoration: underline;
}

.content-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.cookie-consent-container p {
    margin: 0;
    padding: 0;
}

.cookie-consent-button {
    background-color: var(--highlight-color-darker);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.cookie-consent-button:hover {
    background-color: var(--highlight-color);
}

.ear {
    top: 1.5em;
    position: absolute;
    /* or fixed if you want it to always be visible */
    background: var(--header-footer-background);
    color: white;
    font-weight: bold;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 0;
    margin: 0;
    height: auto;
    z-index: 999999999;
    text-align: left;
}

.rightear {
    right: -4em;
    float: right;
    transform: rotate(45deg);
    width: 4em;
}

.leftear {
    left: -4em;
    float: left;
    transform: rotate(-45deg);
    width: 4em;
}

.leftear a {
    position: relative;
    left: 1.25em;
}

.rightear a {
    position: relative;
    left: -1px;
}