:root {
  --background-color: #f4f0ff;
  --header-footer-background: #bdafeb;
  --banks-background: #dcd6f7;
  --highlight-color: #c3b8e6;
  --highlight-color-darker: #afa2db;
  --hover-color: #d2cde9;
  --hover-color-light: #d2cde944;
  --other-color: #6d51c9;
}

@font-face {
  font-family: 'MonaspaceKrypton';
  src: url('/static/MonaspaceKrypton-Regular.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 950px;
  margin: 0 auto;
  color: #111;
  background: var(--background-color);
  font-family: "MonaspaceKrypton", monospace;
  line-height: 1.7;
  padding-left: 1em;
  padding-right: 1em;
}



h2 {
  font-size: 1.3em;
}

a {
  color: #111;
  text-decoration: underline;
  padding: 0.35em;
  border-radius: 1em;
  background: var(--hover-color-light);
}

a:hover {
  background-color: var(--hover-color);
}

[id]::before {
  content: '';
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}

.clade {
  font-style: normal;
  border-radius: 4px;
  background: #222;
  padding: 0.5em;
  color: #eee;
  text-decoration: none;
  line-height: 2.5em;
}

.clade:hover {
  background: #333;
  padding: 0.5em;
  text-decoration: underline;
}


.hero img {
  width: 100%;
  height: auto;
  max-width: 900px;
  margin: 0 auto;
  display: block;
}


.hero-title {
  font-size: 2em;
  margin: 0;
  padding: 0;
}


.hero-small {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.hero-inner {
  text-align: center;
}


.command-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 5px;
  width: 100px;
  height: 100px;
  background: var(--banks-background);
  margin: 1em;
  border: 2px solid #777;
  padding-left: 0px;
  padding-right: 0.75em;

}

.fas {
  margin-left: 0.25em;
}

.command-icon .fas {
  color: inherit;
  font-size: 3rem;
}

.box {
  border: 4px solid var(--highlight-color-darker);
  background: #fff;
  border-radius: 1em;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  margin: 2em 1em;
  /* Ensure the container expands to include floated children */
  overflow: auto;
  padding: 1em;

}

.box>.boxl {
  float: left;
  margin-right: 0px;
  padding-right: 1em;
}


.box>.boxr {
  clear: none;
}

div {
  clear: both;
}

.howdoi>div,
.blurbs>div,
.help>div {
  border-style: solid;
  border-color: #666;
  padding: 1em;
  padding-top: 1em;
  padding-top: 0em;
  background: #fff;
  border-radius: 1em;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  margin: 2em 0em;
}

.faq details>summary {
  font-weight: 900;
}

.faq details:last-child {
  margin-bottom: 1.5em;
}

.faq details {
  margin-top: 1.5em;
  border-color: var(--header-footer-background);
  border-style: solid;
  box-shadow: rgba(189, 175, 237, 0.667) 3px 3px 2px 1px;
  padding: 1em;
  cursor: pointer;
  background-color: #fff;
}


strong {
  background-color: var(--highlight-color);
  padding: 0.25em;
  border-radius: 0.2em;
}

code {
  background-color: var(--highlight-color-darker);
  padding: 0.25em;
  padding-top: 0.1em;
  border-radius: 0.2em;
  font-size: 1rem;
  font-variant: small-caps;
  color: white;
}

section>div {
  padding-left: 1em;
}

section>h1 {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.75em;

  border-radius: 1em;
  /* gradient to the background color */
  background: linear-gradient(45deg, var(--banks-background), var(--background-color));
}

section {
  border-top: 8px double var(--highlight-color);
  border-bottom: 8px double var(--highlight-color);
  margin-top: 10em;
  margin-bottom: 10em;
  padding-top: 1em;
  padding-bottom: 2em;
}


.w1 {
  width: 29%;
}

.w2 {
  width: 13%;
}

.w3 {
  width: 7%;
}

.w4 {
  width: 51%;
}

.cc1 {
  width: 30%;
}

.cc2 {
  width: 70%;
}


.fx1 {
  width: 9%;
  text-align: center;
}

.fx2 {
  width: 18%;
}

.fx3 {
  width: 12%;
}

.fx4 {
  width: 12%;
}

.fx5 {
  width: 49%;
}

.topline>td {
  font-weight: 900;
  background-color: var(--hover-color);
}

td {
  padding: 0.5em 0.25em;
}

.hrw {
  border-top: 3px var(--highlight-color-darker)solid !important;
}

/* last one has border bottom */
.hrw:last-child {
  border-bottom: 3px var(--highlight-color-darker) solid !important;
}

table {
  border-collapse: collapse;
  line-height: 1.5 !important;
  margin: auto;
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
  max-width: 90%;
}


.rightear {
  right: -4em;
  float: right;
  transform: rotate(45deg);
  width: 5em;
}

.leftear {
  left: -3em;
  float: left;
  transform: rotate(-45deg);
  width: 5em;
}

.ear {
  top: 1.5em;
  position: fixed;
  background: var(--header-footer-background);
  color: white;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: .5em;
  padding-bottom: .5em;
  border: 0;
  margin: 0;
  height: auto;
  z-index: 999999999;
  text-align: left;
}


/* mobile only */
@media (max-width: 600px) {
  .hero2 {
    position: relative;
    padding-top: 6em;
  }

  body {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-size: 0.8rem;
  }

  .howdoi>div,
  .blurbs>div,
  .help>div,
  .box {
    border-width: 2px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .1);
  }


  section>h1 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.25em;
  }

  .w3,
  .fx3,
  .fx4 {
    display: none;
  }

  table {
    padding: -0.5em;
    width: 90%;
    flex: auto;
    margin: auto;
  }
}

@media print {

  html,
  body {
    font-size-adjust: 50%;
    line-height: 1.25;
  }

  div {
    break-inside: avoid;
  }

  section>h1 {
    background: inherit;
  }

  table {
    margin: 1em;
  }

  section {
    page-break-before: always;
    border-top: none;
    border-bottom: none;
    margin-top: 10em;
    margin-bottom: 10em;
    padding-top: 0em;
    padding-bottom: 0em;
  }

  .blurbs>div {
    page-break-before: always;
  }

  .howdoi>div,
  .blurbs>div,
  .help>div {
    border: none !important;
    box-shadow: none !important;
    break-inside: avoid;
  }

}


.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}


.list>a {
  /* stay on one line */
  white-space: nowrap;
}

.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 1em;
}


pre {
  text-transform: none;
  margin-bottom: 20px;
  vertical-align: text-bottom;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  text-shadow: none;
  background: #f5f7f9;
}


pre>code {
  text-transform: none;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
  font-variant: normal;
  color: #000;
}

pre code {
  text-transform: none;
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
  font-size: 1.0rem;
}

pre {
  text-transform: none;
  word-wrap: normal;
  border-radius: 3px;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
  font-variant: normal;
}

summary {
  padding-left: 0.25em;
  padding-bottom: 0.25em;
  cursor: pointer;
}

pre {
  background-color: inherit !important;
}